:root {
    --font-content: 'Assistant', sans-serif;
    --font-content-weight: 300;
    --font-headers: 'Red Hat Mono', monospace;
    --font-headers-weight: 500;
    --font-color-bright: white;
    --font-color-dark: black;

    /* https://coolors.co/414361-f7f7f2-e4e6c3-899878-735f3d */
    --palette-1: #414361;
    --palette-2: #f7f7f2;
    --palette-3: #899878;
    --palette-4: #E4E6C3;
    --palette-5: #735F3D;
}

*, *:before, *:after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-content);
    font-weight: var(--font-content-weight);
    font-size: 1.6rem;
}

.modal-accomodation {
    display: flex;
    flex-direction: column;
}

.content-wrap {
    padding: 0 2em;
    max-width: 75ch;
}

.main-section-pad {
    padding: 4rem 0;
}

.bottom-margin-big {
    margin-bottom: 4rem;
}

.bottom-margin-small {
    margin-bottom: 2rem;
}

h1,
h2,
h3 {
    font-family: var(--font-headers);
    font-weight: var(--font-headers-weight);
}

.black-title-design {
    display: inline-block;
    border: thick solid black;
    box-shadow: 5px 5px black;
    padding: 0.5em;
}

.white-title-design {
    display: inline-block;
    border: thick solid white;
    box-shadow: 5px 5px white;
    padding: 0.5em;
}

.hero {
    background-color: var(--palette-1);
    color: var(--font-color-bright);
}

.grid-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 1em;
}

.card {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 25%);
    background-color: white;
}

.skills {
    background-color: var(--palette-2);
    color: var(--font-color-dark);
}

.projects {
    background-color: var(--palette-3);
    color: var(--font-color-bright);
}

.work {
    background-color: var(--palette-4);
    color: var(--font-color-dark);
}

.contact {
    background-color: var(--palette-5);
    color: var(--font-color-bright);
}

@media (min-width: 73ch) {
    .content-wrap {
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media (min-width: 175ch) {
    .main-title-text {
        order: 3;
    }
    
    .my-name {
        order: 1;
    }
    
    .my-descriptions {
        order: 2;
    }
    
    .modal {
        background-color: white;
        color: black;
        max-width: 125ch;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 25%);
        font-size: 2.1rem;
        padding: 3em;
        position: absolute;
        top: 25rem;
        align-self: center;    
    }

    .modal-padding-from-top {
        padding-bottom: 2rem;
    }

    .modal-padding-from-bottom {
        padding-top: 14rem;
    }
}
