:root {
    --font-content: 'Assistant', sans-serif;
    --font-content-weight: 300;
    --font-headers: 'Red Hat Mono', monospace;
    --font-headers-weight: 500;
    --font-color-bright: white;
    --font-color-dark: black;

    /* https://coolors.co/414361-f7f7f2-e4e6c3-899878-735f3d */
    --palette-1: #414361;
    --palette-2: #f7f7f2;
    --palette-3: #899878;
    --palette-4: #E4E6C3;
    --palette-5: #735F3D;
}

*, *:before, *:after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-content);
    font-weight: var(--font-content-weight);
    font-size: 1.6rem;
}

.content-wrap {
    padding: 0 2em;
    max-width: 75ch;
    /* border: 1px solid red; */
}

.main-section-pad {
    padding: 4rem 0;
}

.bottom-margin-big {
    margin-bottom: 4rem;
}

.bottom-margin-small {
    margin-bottom: 2rem;
}

h1,
h2,
h3 {
    font-family: var(--font-headers);
    font-weight: var(--font-headers-weight);
}

.hero {
    background-color: var(--palette-1);
    color: var(--font-color-bright);
}

.skills {
    background-color: var(--palette-2);
    color: var(--font-color-dark);
}

.projects {
    background-color: var(--palette-3);
    color: var(--font-color-bright);
}

.work {
    background-color: var(--palette-4);
    color: var(--font-color-dark);
}

.contact {
    background-color: var(--palette-5);
    color: var(--font-color-bright);
}

@media (min-width: 73ch) {
    .content-wrap {
        max-width: 85%;
        margin: 0 auto;
    }
}
